<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IQAC-Events</title>
</head>
<body>
    <div class="loginbox">
        <h3>IQAC-EVENTS PORTAL</h3>
        <h4>Hi, Welcome Back</h4>
        <div class="googlesign">
            <div id="g_id_onload"
                 data-client_id="1065041580614-sn97qdvcs5og09taitf5mff9kava27hd.apps.googleusercontent.com"
                 data-context="signin"
                 data-ux_mode="popup"
                 data-login_uri="http://localhost:3000/api/login"
                 data-auto_prompt="false">
            </div>

            <div class="g_id_signin"
                data-type="standard"
                data-shape="rectangular"
                data-theme="outline"
                data-text="signin_with"
                data-size="large"
                data-logo_alignment="center">
        </div>
        </div>
        <h5>Sign in with your bitsathy account</h5>
    </div>
</body>
</html>