<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    />

    <title>Welcome</title>
  </head>
  <body>
    <div class="container">
      <div class="sidebar">
        <div class="logo"></div>
        <ul class="menu">
          <li class="active">
            <a routerLink="/home">
              <i class="fa-solid fa-gauge-high"></i>
              <span>Dashboard</span>
            </a>
          </li>
          <li>
            <a href="/register">
              <i class="fa-regular fa-registered"></i>
              <span>Register</span>
            </a>
          </li>
          <li>
            <a href="/register">
              <i class="fa-regular fa-registered"></i>
              <span>Event Requirements</span>
            </a>
          </li>
          <li>
            <a href="">
              <i class="fa-solid fa-check"></i>
              <span>Status</span>
            </a>
          </li>
          <li>
            <a href="">
              <i class="fa-solid fa-building"></i>
              <span>Hostel</span>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa-solid fa-bus"></i>
              <span>Transport</span>
            </a>
          </li>
          <li class="logout">
            <a href="">
              <i class="fa-solid fa-arrow-right-from-bracket"></i>
              <span>Logout</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </body>
</html>
