<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <app-sidebar></app-sidebar>
      <div class="regform">
        <div class="content">
          <h2>Event Requistion Form</h2>
          <form>
            <label type="text">Name of the Event : <input type="text" /></label
            ><br />
            <label type="text"
              >Event Date(s)<br />
              From : <input type="date" /> To : <input type="date" /></label
            ><br />
            <label type="text">Number of days : <input type="text" /></label
            ><br />
            <label type="text"
              >Event Time <br />
              From : <input type="time" /> To : <input type="time" /></label
            ><br />
            <label type="text"
              >Event Organizer Details <br />
              Name : <input type="text" /><br />
              Department : <input type="text" /><br />
              Mobile Number : <input type="text" /> </label
            ><br />
            <label type="text"
              >Number of Participants Expected<br />
              Internal :<input type="text" /><br>
               External :<input
                type="text"
              /> </label
            ><br />
            <label type="text">Guest Details</label><br />
            <label type="text">No of Guest : <input type="text" /></label><br />
            <label type="text">Name of the Guest : <input type="text" /></label
            ><br />
            <label type="text">Designation : <input type="text" /></label><br />
            <label type="text"
              >Name of the Organization / Industry : <input type="text"
            /></label>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
