<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event Requisition Form</title>
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
  />
</head>
<body>
    <!-- sidebar -->
    <div class="container">
        <div class="sidebar">
          <div class="logo"></div>
          <ul class="menu">
            <li>
              <a routerLink="/home">
                <i class="fa-solid fa-gauge-high"></i>
                <span>Dashboard</span>
              </a>
            </li>
            <li  class="active">
              <a routerLink="/register">
                <i class="fa-regular fa-registered"></i>
                <span>Register</span>
              </a>
            </li>
            <li>
              <a routerLink="/eventrequirements">
                <i class="fa-regular fa-registered"></i>
                <span>Requirements</span>
              </a>
            </li>
            <li>
              <a href="">
                <i class="fa-solid fa-check"></i>
                <span>Status</span>
              </a>
            </li>
            <li>
              <a href="">
                <i class="fa-solid fa-building"></i>
                <span>Hostel</span>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fa-solid fa-bus"></i>
                <span>Transport</span>
              </a>
            </li>
            <li class="logout">
              <a href="">
                <i class="fa-solid fa-arrow-right-from-bracket"></i>
                <span>Logout</span>
              </a>
            </li>
          </ul>
        </div>
      

        <!-- registration -->
        <div class="regform">
            <div class="content">
             <h3 id = "title">Event Requsition Form</h3>
            <table class = "tables">
                <form>
                    <tr>
                        <td>
                            <label for="name">Name of the event: </label>
                        </td>
                        <td>
                            <input type = "text">
                        </td>
                    </tr>
                    <tr>
                        <td>
                          <label for="" class = "subtitle">Event details</label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>From :</label>
                        </td>
                        <td>
                            <input type="date">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>To:</label>
                        </td>
                        <td>
                            <input type = "date"> 
                        </td>
                    </tr>
                    <tr>
                        <td><label>Number of Days:</label></td>
                        <td><input type = "number"></td>
                    </tr>
                    <tr>
                        <td><label>Event Time :</label></td>
                    </tr>
                    <tr>
                        <td><label>From:</label></td>
                        <td><input type = "time"></td>
                    </tr>
                    <tr>
                        <td><label>To:</label></td>
                        <td><input type = "time"></td>
                    </tr>
                    
                    <tr>
                        <td><label class = "subtitle">Event Organizer Details</label></td>
                    </tr>
                    <tr>
                        <td><label>Name :</label></td>
                        <td><input type = "text"></td>
                    </tr>
                    <tr>
                        <td><label>Department :</label></td>
                        <td><input type = "text"></td>
                    </tr>
                    <tr>
                        <td><label>Mobile :</label></td>
                        <td><input type = "text"></td>
                    </tr>
                    <tr>
                        <td><label>No of Participants</label></td>
                    </tr>
                    <tr>
                        <td><label>Internal :</label></td>
                        <td><input type = "number"></td>
                    </tr>
                    <tr>
                        <td><label>External :</label></td>
                        <td><input type = "number"></td>
                    </tr>
                    <tr >
                        <td><label class = "subtitle">Guest details</label></td>
                    </tr>
                    <tr>
                        <td><label>Number of Guest</label></td>
                        <td><input type = "number"></td>
                    </tr>
                    <tr>
                        <td><label>Name of the Guest</label></td>
                        <td><input type = "text" placeholder="Mr./Ms./Dr./Prof./"></td>
                    </tr>
                    <tr>
                        <td><label>Designation</label></td>
                        <td><input type = "text"></td>
                    </tr>
                    <tr>
                        <td><label>Name of the<br> Organization/Industry</label></td>
                        <td><input type = "text"></td>
                    </tr>
                </form>
            </table>
            <div class="submit">
                <button>Submit</button>
            </div>
            </div>
                
        </div>
    </div>
</body>
</html>
